
header {
  display: flex;
  justify-content: space-between;
}
#spread-box-desktop {
flex-grow: 1;
}

.rightSpan {
  flex-grow: 2;
}
.orderLists {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.toggleButton {
  text-align: center;
  color: white;
  background-color: slateblue;
  border: none;
  padding: 5px 10px;
}

.pauseButton {
  background-color: crimson;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

 .orderLists{
   flex-direction: column;
 }

}
